<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mahsulotlar</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Mahsulotlar ro'yxati</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <a href="/product/<%= product.id %>"><%= product.name %> - $<%= product.price %></a>
            </li>
        <% }); %>
    </ul>
    <a href="/add-product">Yangi Mahsulot Qo'shish</a>
    <br>
    <a href="/">Bosh sahifa</a>
</body>
</html>
