<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= product.name %></h1>
    <p>Narxi: $<%= product.price %></p>
    <a href="/products">Orqaga</a>
</body>
</html>
